@model  M19G1.Models.UserViewModel
@{
    /**/
    ViewBag.Title = "User Page";
}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.js"></script>
<link href="https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

 <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/datatables.js"></script>
 <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.css">

<div class="container">
    <button type="button" class="btn btn-outline-info" style="margin-left:45px;" id="AddUser" onclick="return AddPopUp(0);">Add User</button>
    <br><br><br>
    <div style="width:90%; margin:0 auto;">
        <table id="users" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Reset Password</th>
                    <th>Activity</th>
                </tr>
            </thead>
            @*<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                        <td><button class="btn btn-outline-info" onclick="LoadUser(@item.Id)">Edit</button></td>
                        <td><button class="btn btn-outline-secondary" onclick="PopUpPassword(@item.Id)">Reset Password</button></td>
                        <td><button class="btn btn-outline-secondary" onclick="UpdateActivity(@item.Id)">@item.Active</button></td>
                    </tr>
                }
            </tbody>*@
        </table>
    </div>
</div>

<script type="text/javascript">
    var usersTable = $("#users").DataTable({

        "processing": false, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once
        "pageLength": 5,
        "ajax": {
            "url": "/User/ListUsers",
            "type": "POST",
            "datatype": "json",
        },

        "columnDefs":
            [{
                "targets": [3],
                "searchable": false,
                "orderable": false,

            },
            {
                "targets": [4],
                "searchable": false,
                "orderable": false,

            },
            {
                "targets": [5],
                "searchable": false,
                "orderable": false
            },
                //{
                //    "targets": [6],
                //    "searchable": false,
                //    "orderable": false
                //},

            ],

        "columns": [

            { "data": "FirstName", "name": "Firstname", "autoWidth": true },
            { "data": "LastName", "name": "Lastname", "autoWidth": true },
            { "data": "RoleName", "name": "RoleName", "autoWidth": true },
            {
                data: null, render: function (data, type, full, meta) {
                    return '<a class="btn btn-outline-info" onclick="LoadUser(' + full.Id + ')">Edit</a>';
                }
            },
            //{
            //    data: null, render: function (data, type, full, meta) {
            //        return '<a  class="btn btn-outline-danger" onclick="PopUpDelete(' + full.Id + ')" >Delete</a>';
            //    }
            //},
            {
                data: null, render: function (data, type, full, meta) {
                    return '<a  class="btn btn-outline-secondary" onclick="PopUpPassword(' + full.Id + ')" >Reset Password</a>';
                }
            },
            {
                data: null, render: function (data, type, full, meta) {
                    return ' <a  class="btn btn-outline-secondary"   onclick="UpdateActivity(' + full.Id + ')">' + full.Active + '</a>';

                }
            },

        ]

    });


    function convertJsonDateToShortDate(data) {
        const dateValue = new Date(parseInt(data.substr(6)));
        return dateValue.toLocaleDateString();
    }
    function UpdateActivity(id) {

        $.ajax({
            url: "/User/UpdateUserActivity/" + id,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                usersTable.ajax.reload(); 
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function DeleteUser() {
        var id = $('#Id').val();
        $.ajax({
            url: "/User/DeleteUser/" + id,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                usersTable.ajax.reload();
                $('#modalDelete').modal('hide');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function ResetPassword() {
        var id = $('#Id').val();
        $.ajax({
            url: "/User/ResetPassword/" + id,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                usersTable.ajax.reload();
                $('#modalDelete').modal('hide');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function PopUpDelete(id) {
        $.ajax({
            url: "/User/LoadUser/" + id,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                $('#Id').val(response.Id);
                $('#YesPassword').hide();
                $('#Yes').show();
                $('#labelDelete').text("Do you really want to delete this user?");
                $('#modalDelete').modal('show');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    }
    function PopUpPassword(id) {
        $.ajax({
            url: "/User/LoadUser/" + id,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                $('#Id').val(response.Id);
                $('#labelDelete').text("Do you really want to generate new password for this user?");
                $('#YesPassword').show();
                $('#Yes').hide();
                $('#modalDelete').modal('show');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    }
    function LoadUser(id) {
        $.ajax({
            url: "/User/LoadUser/" + id,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                $('#Id').val(response.Id);
                $('#FirstName').val(response.FirstName);
                $('#LastName').val(response.LastName);
                $('#Email').val(response.Email);
                $('#Username').val(response.Username);
                $('#RoleName').val(response.RoleName);
                if (response.Gender == 'F') {
                    $("#Female").prop("checked", true);
                }
                else {
                    $("#Male").prop("checked", true);
                }
                $('#BirthdayText').val(convertJsonDateToShortDate(response.Birthday));
                $('#RoleName').val(response.RoleName);
                $('#Update').show();
                $('#Add').hide();
                $('#myModalLabel').text("Edit User");
                $('#myModal').modal('show');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    }
    function AddPopUp(id) {
        $.ajax({
            url: "/User/LoadUser/" + id,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                $("#Update").hide();
                $("#Add").show();
                $('#myModalLabel').text("Add User");
                $('#myModal').modal('show');

            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    }

    function AddUser() {
        var userObj = {
            Id: $('#Id').val(),
            FirstName: $('#FirstName').val(),
            LastName: $('#LastName').val(),
            Email: $('#Email').val(),
            Username: $('#Username').val(),
            Gender: $('#Gender').val(),
            Birthday: $('#Birthday').val(),
            RoleName: $('#RoleName').val(),
        };

        $.ajax({
            url: "/User/AddUser",
            data: JSON.stringify(userObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                usersTable.ajax.reload();
                
                $('#myModal').modal('hide');
                $('#myModal').ajax.reload();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }

        });
    }

    $('#myModal').on('shown', function () {
        $("#modal-content").scrollTop(0);
    });
    function UpdateUser() {

        var userObj = {
            Id: $('#Id').val(),
            FirstName: $('#FirstName').val(),
            LastName: $('#LastName').val(),
            Email: $('#Email').val(),
            Username: $('#Username').val(),
            Gender: $('input[name=Gender]:checked', '#myModal').val(),
            Birthday: $('#BirthdayText').val(),
            RoleName: $('#RoleName').val(),

        };
        $.ajax({
            url: "/User/UpdateUser",
            data: JSON.stringify(userObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                usersTable.ajax.reload();
                $('#myModal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    };


</script>

@Model

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add User</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Id" placeholder="Id" hidden="hidden" disabled="disabled" />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="FirstName">Firstame</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="FirstName" placeholder="Firstame" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="LastName">LastName</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="LastName" placeholder="LastName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="Email">Email</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="Email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="Username">Username</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="Username" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="Gender">Gender</label><br>
                        <div class="col-md-9">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="Male" value="M" name="Gender" checked>
                                <label class="custom-control-label" for="Male">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="Female" value="F" name="Gender">
                                <label class="custom-control-label" for="Female">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="Birthday">Birthday</label>
                        <div class="col-md-9">
                            <div class="container">
                                <div class="input-group date" id="Birthday" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#Birthday" id="BirthdayText" />
                                    <span class="input-group-addon" data-target="#Birthday" data-toggle="datetimepicker">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="RoleName">Role</label>
                        <div class="col-md-9">
                            @Html.DropDownList("RoleName", (SelectList)ViewData["RoleName"], htmlAttributes: new { id = "RoleName", @class = "form-control" })
                        </div>
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="Add" onclick="return AddUser();">Save</button>
                    <button type="button" class="btn btn-primary" id="Update" onclick="return UpdateUser();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalDelete" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Be careful</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="Id" placeholder="Id" hidden="hidden" disabled="disabled" />
                <h4 class="modal-title" id="labelDelete">Do you really want to delete this user?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Yes" onclick="return DeleteUser();">Yes</button>
                <button type="button" class="btn btn-primary" id="YesPasssword" onclick="return ResetPassword();">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


