@model M19G1.Models.ChooseRoomViewModel

@using (Html.BeginForm("ChooseRooms","Clients",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.booking.Id)
    <h4> @ViewBag.Result </h4>

    <div class="form-horizontal">
        <h5>Booking details :</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.booking.Start, htmlAttributes: new { @class = "control-label col-md-1" })
            <text> :   </text>
            @Html.DisplayFor(model => model.booking.Start)
            <text>  |  </text>
            @Html.LabelFor(model => model.booking.End, htmlAttributes: new { @class = "control-label col-md-1" })
            <text> :   </text>
            @Html.DisplayFor(model => model.booking.End)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.booking.BookingRooms, htmlAttributes: new { @class = "control-label col-md-2" })
            <text> : </text>
            @if (Model.booking.BookingRooms != null)
            {
                foreach (var bookingRoom in Model.booking.BookingRooms)
                {
                    @Html.DisplayFor(item => bookingRoom.Room.RoomName) <text> with </text>
                    @Html.DisplayFor(item => bookingRoom.Room.GuestsNr)
                    <text> guests  | </text>
                }
            }
            else
            {
                 <text> No rooms yet ! </text>
            }

        </div>
    </div>
    <div class="form-horizontal">
        <h4>Choose Room</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RoomId, new SelectList(Model.rooms, "Id", "RoomName"))
                @Html.ValidationMessageFor(model => model.RoomId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.facilityIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.facilityIds, new MultiSelectList(Model.facilities, "FacilityId", "FacilityName"))
                @Html.ValidationMessageFor(model => model.facilityIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add room" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("FinishBooking", "Clients", new { id = Model.booking.Id }))
{
   <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Finish booking" class="btn btn-default" />
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
