@model M19G1.Models.FilterRoomViewModel

@{
    ViewBag.Title = "FilterRooms";
}

<h2>Filter Rooms</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Filter Parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "CatName"), "Choose Category", new { @class = "btn btn-default dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Occupied, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.RadioButtonFor(model => model.Occupied, true) Yes
                    @Html.RadioButtonFor(model => model.Occupied, false) No
                    @Html.ValidationMessageFor(model => model.Occupied, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedFacilities, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedFacilities, new MultiSelectList(Model.Facilities, "FacilityId", "FacilityName"), new { @class = "multiselect form-control", multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.SelectedFacilities, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@if (Model.Rooms != null)
{
    if (Model.Rooms.Count > 0)
    {
        <div>
            <table id="myTable">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Room Name</th>
                        <th>Max Price</th>
                        <th>Number Of guests</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Rooms)
                    {
                        <tr>
                            <td>
                                @item.RoomCategory.CatName
                            </td>
                            <td>
                                @item.RoomName
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>
                                @item.GuestsNr
                            </td>
                            <td>
                                @Html.ActionLink("Details", "RoomDetails", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
