@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel App</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Hotel App</a>

        @Html.Partial("_LoginPartial")
    </nav>

    <div class="container-fluid">
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {

                <div class="d-flex" id="wrapper">

                    <!-- Sidebar -->
                    <div class="bg-dark border-right" id="sidebar-wrapper">
                        <div class="list-group list-group-flush">

                            @if (User.IsInRole("Client"))
                            {

                                @Html.ActionLink("Old Bookings", "OldBookings", "Clients", null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark", @style = "color:#fff" })



                                @Html.ActionLink("Active Bookings", "ActiveBookings", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("New Booking", "CreateBooking", "Clients", null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("Reset Password", "ResetPassword", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("Filter Rooms", "FilterRooms", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })



                            }

                            @if (User.IsInRole("Admin"))
                            {

                                @Html.ActionLink("Users", "Index", "User", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark", @style = "color:#fff" })



                                @Html.ActionLink("User Requests", "Requests", "User", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark", @style = "color:#fff" })


                                @Html.ActionLink("Anonymous Requests", "AnonymousRequests", "User", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark", @style = "color:#fff" })

                                @Html.ActionLink("Logs", "Logs", "User", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark", @style = "color:#fff" })



                            }
                            @if (User.IsInRole("Driver"))
                            {

                                @Html.ActionLink("Old Bookings", "OldBookings", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })



                                @Html.ActionLink("Active Bookings", "ActiveBookings", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("New Booking", "CreateBooking", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("Reset Password", "ResetPassword", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("Filter Rooms", "FilterRooms", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })



                            }
                            @if (User.IsInRole("Manager"))
                            {

                                @Html.ActionLink("Old Bookings", "OldBookings", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })



                                @Html.ActionLink("Active Bookings", "ActiveBookings", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("New Booking", "CreateBooking", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("Reset Password", "ResetPassword", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("Filter Rooms", "FilterRooms", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })



                            }
                            @if (User.IsInRole("Recepsionist"))
                            {

                                @Html.ActionLink("Old Bookings", "OldBookings", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })



                                @Html.ActionLink("Active Bookings", "ActiveBookings", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("New Booking", "CreateBooking", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("Reset Password", "ResetPassword", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })


                                @Html.ActionLink("Filter Rooms", "FilterRooms", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark" })



                            }
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span style="color:#fff">Account settings</span>
                                <a class="d-flex align-items-center text-muted" href="#">
                                    <span data-feather="plus-circle"></span>
                                </a>
                            </h6>
                            @Html.ActionLink("Change Password", "OldBookings", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark", @style = "color:#fff" })


                            @Html.ActionLink("Anonymize Account", "OldBookings", "Clients", htmlAttributes: new { @class = "list-group-item list-group-item-action bg-dark", @style = "color:#fff" })

                        </div>
                    </div>
                </div>





            }
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                @Html.Partial("_AlertPartial")
                @RenderBody()
            </main>
            @*<footer class="page-footer font-small blue pt-4">
                    <div class="footer-copyright text-center py-3">
                        © 2020 Copyright:Xheni Canaj

                    </div>
                </footer>*@
        </div>
    </div>


    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/form")
    @Styles.Render("~/bundles/sidebar")
    @RenderSection("scripts", required: false)

</body>
</html>
